@model IEnumerable<WebBja.Models.Partida>

@{
    ViewData["Title"] = "Onenak";
}

<h1>Onenak</h1>
@ViewData["1"]
@ViewData["2"]
@ViewData["3"]
@ViewData["4"]
@ViewData["5"]
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped tablas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jokalaria.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntuazioa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Jokalaria.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Puntuazioa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>


            </tr>
        }
    </tbody>
</table>
