@model IEnumerable<WebBja.Models.Partida>

@{
    ViewData["Title"] = "Txarrenak";
}

<h1>Txarrenak</h1>

<table class="table table-striped tablas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jokalaria.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntuazioa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Jokalaria.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Puntuazioa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="post">
    <center>
        <a target="_blank" class="btn btn-warning text-light" asp-controller="Report" asp-action="txarrenakInprimatu">
            Informea sortu
        </a>
    </center>
</form>