@model WebBja.Models.Formulario

@{
    ViewData["Title"] = "Delete";
}

<h1>Formularioa</h1>

<div>
    <h4>Formularioen Datuak</h4>
    <hr />

    <table class="table ">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Username):</th>
                <td>@Html.DisplayFor(model => model.Username)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Puntuacion)</th>
                <td>
                    
                    @{
                        int media = (int)ViewBag.puntuazioa;
                        for (int i = 0; i < 5; i++)
                        {
                            if (i < media)
                            { 
                                <p class="fa fa-star fa-2x" style="color: rgb(243, 159, 37); list-style: none; float: left; padding: 0px 2px;"></p>
                            }
                            else
                            {
                                <p class="fa fa-star-o fa-2x" style="color: rgb(150, 150, 150); list-style: none; float: left; padding: 0px 2px;"></p>
                            }
                        }

                    }




                </td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(model => model.Horas)</th>
                <td>@Html.DisplayFor(model => model.Horas) </td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Mejoras)</th>
                <td> @Html.DisplayFor(model => model.Mejoras)</td>
            </tr>

        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Username" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Itzuli</a>
    </form>
</div>
