@model IEnumerable<WebBja.Models.Formulario>

@{
    ViewData["Title"] = "Formulario";
}

<h1>Formularioa</h1>
@ViewData["name"]

<div style="float:right">
    <h5>Batez-besteko puntuazioa:</h5><span>

    @{
        int media = (int)ViewBag.media;
        for (int i = 0; i < 5; i++)
        {
            if (i < media)
            {
                <p class="fa fa-star fa-3x" style="color: rgb(243, 159, 37); list-style: none; float: left; padding: 0px 2px;"></p>
            }
            else
            {
                <p class="fa fa-star-o fa-3x" style="color: rgb(150, 150, 150); list-style: none; float: left; padding: 0px 2px;"></p>
            }
        }

    }
</span>
</div><br /><br />

<h4>Erabiltzaileen Formularioak</h4>

<table class="table tablas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntuacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mejoras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puntuacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mejoras)
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
